/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  /* font-family: 'Oswald', sans-serif; */
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  text-align: left;
  letter-spacing: 0.1rem;
}  

h1 {
  /* font-family: 'Anton', sans-serif; */
  /* font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 5rem;
  padding: 1rem;
  line-height: 6rem;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 3rem;
  letter-spacing: 0.1em;
}

body {
	background-color:#2BB7FF;
  padding: 0px;
  margin: 0px;
  color: #FFF;
  --toggle: 1;
}

#gradient {
  background: linear-gradient(-45deg,#2BB7FF, #2B99FF,#2BB6E3, #29d0a1, #0aa6be, #9dbdd8);
  background-size: 1000% 1000%;
  animation: Gradient 20s ease infinite;
  animation
}

img{
  width: 100%;
  height: auto;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%

  }
}

a {
  color: #fff;
  text-decoration: white solid underline;
}

a:hover {
  color: #2BB7FF;
  background-color: white;
  text-decoration: none;
  transition: .75s;
}


p {
  font-size: 1.5rem;
  padding-top: 2rem;
  padding: 1rem;
  line-height: 2rem;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#gradient
{
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}


#links {
  /* font-family: 'Oswald', 'Arial', sans-serif; */
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  letter-spacing: 1.8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-on {
  background-color: 'black';
}

@media (max-width: 576px) {
  h1 {
    font-size: 4rem;
    line-height: 5rem;
    margin-left: 2rem;
  }
  
  p {
    margin-top: 0rem;
    margin-left: 2rem;
    padding-top: 1rem;
  }
}

@media (max-width: 800px) {
  .fas, .fab {
    display: inline-block;
  }
  .social-link {
    display: none;
  }

}

@media (min-width: 801px) {
  .fas, .fab {
    display: none
  }
  .icon-link:hover {
    padding-top: 0;
  }
  .social-link {
    text-decoration: underline;
  }

  .social-link:hover {
      text-decoration: none;
  }
}
